<VirtualHost *:80> 
  ServerName {{ inventory_hostname }} 
  DocumentRoot /var/www/{{ inventory_hostname }}/html 
  ErrorLog /etc/httpd/logs/error_log 
  
  # Certbot Rewrite Rules 
  RewriteEngine on 
  #RewriteCond %{SERVER_NAME} = geo.frdr.ca 
  #RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent] 
  
  RewriteRule "^/(.*)" "https://geo.frdr.ca/$1" [R=301,L] 
 
</VirtualHost> 
 
<VirtualHost *:443> 
  ServerName geo.frdr.ca 
  DocumentRoot /var/www/geo.frdr.ca/html 
  ErrorLog /etc/httpd/logs/error_log 
  CustomLog /etc/httpd/logs/access_log combined 

  RequestHeader set X-Forwarded-Proto "https" 
 
  # Rewrite requests to /geoserver to backend 
  ProxyPass        "/geoserver" "http://geoserver.frdr.ca:8080/geoserver" 
  ProxyPassReverse "/geoserver" "http://geoserver.frdr.ca:8080/geoserver" 
 
  # Rewrite requests to /solr to solr port 
  #ProxyPass        "/solr"  "http://localhost:8983/solr" 
  #ProxyPassReverse "/solr"  "http://localhost:8983/solr"

  ProxyPass        "/"  "http://localhost:3000/" 
  ProxyPassReverse "/"  "http://localhost:3000/"

  Include /etc/letsencrypt/options-ssl-apache.conf 
  SSLCertificateFile /etc/letsencrypt/live/{{ inventory_hostname }}/cert.pem 
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem 
  SSLCertificateChainFile /etc/letsencrypt/live/{{ inventory_hostname }}/chain.pem 
</VirtualHost> 

