
Geodisy-preMaven/

Geodisy_old/

practice_DV\.json


Geodisy/Dataverse Install settings\.txt

Geodisy/nbproject/private/private\.xml


Geodisy/Geodisy/src/test/java/tests/Address\.java

Geodisy/Geodisy/src/test/java/tests/Employee\.java

Geodisy/Geodisy/src/test/resources/file/employee\.txt

Dataverse Metadata v4\.x\.xlsx


*.java___jb_old___

~\$Dataverse Metadata v4\.x\.xlsx

Geodisy/Geodisy/logs/mylog\.log

Geodisy/Geodisy/logs/recordsToCheck\.log

Template\+for\+System\+Descriptions\.mht

Geodisy/Geodisy/logs/error\.log


Time reports/


Geodisy/Geodisy/ExistingRecordsTest\.txt

Geodisy/Geodisy/datasetFiles/

Geodisy/Geodisy/logs/tempFile\.txt

Geodisy/Geodisy/savedFiles/ExisitingRecords\.txt

gdal-2\.4\.1/


Geotools/apidocs/
Geodisy/Geodisy/BMSC_Wizard_Sheltered_AlgalCanopy_1997\.csv

Geodisy/Geodisy/BMSC_Wizard_Exposed_UnderstoryCover_1997\.csv

Geodisy/Geodisy/BMSC_Wizard_Exposed_InvertebrateDensity_1997\.csv

Geodisy/Geodisy/classes/artifacts/


Geodisy/Geodisy/xmlTestDJO\.xml

Geodisy/Geodisy/XMLFiles/
Geodisy/Geodisy/XMLFilesTest/
Geodisy/Geodisy/savedFiles/
*.log
Geodisy/Geodisy/XMLFilesTest/GeodisyTestGit/GeodisyTestGit/

Geodisy/Geodisy/src/main/java/BaseFiles/PrivateStrings.java

Geodisy/ModifyGeoserver/

*.svg

*.png

Geodisy/VectorToGeoserver/out/

Geodisy/UBC Logos/
Geodisy/testGdal/.idea/

Geodisy/testGdal/out/
Geodisy/TileMerge/

Geodisy/Geodisy/metadata/
Geodisy/Geodisy/testFiles/
Geodisy/Logos/
Geodisy/MoveMetadataAndRunGeoCombine/
Geodisy/GDAL/venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/
