
Geodisy-preMaven/

Geodisy_old/

practice_DV\.json

Geodisy/Geodisy/target/

Geodisy/Dataverse Install settings\.txt

Geodisy/nbproject/private/private\.xml

Geodisy/\.idea/

Geodisy/Geodisy/src/test/java/tests/Address\.java

Geodisy/Geodisy/src/test/java/tests/Employee\.java

Geodisy/Geodisy/src/test/resources/file/employee\.txt

Dataverse Metadata v4\.x\.xlsx

*.html

Geodisy/Geodisy/stylesheet\.css

Geodisy/Geodisy/script\.js

Geodisy/Geodisy/package-list

*.java___jb_old___

~\$Dataverse Metadata v4\.x\.xlsx

Geodisy/Geodisy/logs/mylog\.log

Geodisy/Geodisy/logs/recordsToCheck\.log

Template\+for\+System\+Descriptions\.mht

Geodisy/Geodisy/logs/error\.log

Geodisy/Geodisy/\.idea/

Time reports/

Geodisy/Geodisy/src/\.idea/

Geodisy/Geodisy/Geodisy\.iml

Geodisy/Geodisy/ExistingRecordsTest\.txt
