
Geodisy-preMaven/

Geodisy_old/

practice_DV\.json

Geodisy/Dataverse Install settings\.txt

Geodisy/nbproject/private/private\.xml

Geodisy/Geodisy/src/test/java/tests/Address\.java

Geodisy/Geodisy/src/test/java/tests/Employee\.java

Geodisy/Geodisy/src/test/resources/file/employee\.txt

Dataverse Metadata v4\.x\.xlsx

*.java___jb_old___

~\$Dataverse Metadata v4\.x\.xlsx

Geodisy/Geodisy/logs/mylog\.log

Geodisy/Geodisy/logs/recordsToCheck\.log

Template\+for\+System\+Descriptions\.mht

Geodisy/Geodisy/logs/error\.log

Time reports/

Geodisy/Geodisy/Geodisy\.iml

Geodisy/Geodisy/datasetFiles/

Geodisy/Geodisy/logs/tempFile\.txt


gdal-2\.4\.1/

Geodisy/GDAL/venv/

Geotools/apidocs/
Geodisy/Geodisy/BMSC_Wizard_Sheltered_AlgalCanopy_1997\.csv

Geodisy/Geodisy/BMSC_Wizard_Exposed_UnderstoryCover_1997\.csv

Geodisy/Geodisy/BMSC_Wizard_Exposed_InvertebrateDensity_1997\.csv

Geodisy/Geodisy/classes/artifacts/


Geodisy/Geodisy/classes/artifacts/Geodisy_jar/savedFiles/

Geodisy/Geodisy/classes/artifacts/Geodisy_jar/logs/recordsToCheck\.log


Geodisy/Geodisy/xmlTestDJO\.xml

Geodisy/Geodisy/XMLFiles/
Geodisy/Geodisy/XMLFilesTest/
*.log
Geodisy/Geodisy/XMLFilesTest/GeodisyTestGit/GeodisyTestGit/


*.class

*.iml
Geodisy/Geodisy Full Install Guide (Other than Solr).txt

*.svg

*.png

Geodisy/VectorToGeoserver/out/

Geodisy/UBC Logos/
Geodisy/testGdal/.idea/

Geodisy/testGdal/out/
Geodisy/TileMerge/


Geodisy/testGdal/src/META-INF/MANIFEST.MF

Geodisy/Geodisy/logs/recordsToCheck/

Geodisy/GeoserverUploadTest/.idea/

Geodisy/VectorToGeoserver/.idea/artifacts/

Geodisy/VectorToGeoserver/.idea/

Geodisy/VectorToGeoserver/out/artifacts/VectorToGeoserver_jar/

Geodisy/VectorToGeoserver/src/META-INF/

Geodisy/GeoserverUploadTest/out/artifacts/GeoserverUploadTest_jar/

Geodisy/Geodisy/testFiles/
Geodisy/Geodisy/metadata/

Geodisy/ModifyGeoserver/.idea/

Geodisy/ModifyGeoserver/out/artifacts/ModifyGeoserver_jar/
Geodisy/DownloadRecord
testingFolder/

Geodisy/TileMerge/

Geodisy/MoveMetadataAndRunGeoCombine/.idea/

Geodisy/TileMerge/out/artifacts/TileMerge_jar/TileMerge.jar

# Vagrant directory
.vagrant/

# Vim files
[._]*.sw[a-p]
Geodisy/Logos/
Geodisy/MoveMetadataAndRunGeoCombine/
Geodisy/GDAL/venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/

Geodisy/ModifyGeoserver/

Geodisy/Geodisy/.idea/workspace.xml

*.class

Geodisy/Geodisy/target/classes/META-INF/Geodisy.kotlin_module

Geodisy/ISO19115To19139/.idea/
Geodisy/ISO19115To19139/out/production/ISO19115To19139/META-INF/
Geodisy/ISO19115To19139/src/com/company/SP/
Geodisy/ISO19115To19139/out/production/ISO19115To19139/com/company/SP/
FRDR/
Geodisy/.idea/
*.MF
Geodisy/Geodisy/src/main/target/classes/META-INF/

Geodisy/Geodisy/src/main/target/test-classes/META-INF/

Geodisy/out/test/test/META-INF/test.kotlin_module
Geodisy/Geodisy/jdom-1.0.jar

FRDRGBL/


Monthly Check-ins/


frdr_harvest/
FixShp/
20200619.sql

Geodisy/Geodisy/geodisyFiles/tifs/

Geodisy/Scripts/ISO19115To19139/.idea/

Geodisy/out/artifacts/Geodisy_jar/Geodisy.jar

Geodisy/out/artifacts/Geodisy_jar/

Geodisy/Geodisy/src/main/java/_Strings/PrivateStrings.java

iso19139.xml

iso19139.zip

Geodisy/Geodisy/src/.idea/

*.jar
*/.idea/
Geodisy/Scripts/FixStringInGeoBlacklightJSON/.idea/
Geodisy/Scripts/FixStringInFile/.idea/
Geodisy/Scripts/MoveMetadataAndRunGeoCombine/.idea/
Geodisy/Scripts/VectorToGeoserver/.idea/

GenericGeodisyGBL/geodisy-geoblacklight

BLDemo/

Dryad/

logs/output2.txt
target
*~
.classpath
.factorypath
.project
.settings/
