<ul class="navbar-nav">
  <li class="nav-item"><%=link_to('FAQ','https://github.com/ubc-library/geodisy/blob/master/Documentation/factsheet.md', {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('About', 'https://researchdata.library.ubc.ca/find/geodisy/', {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('Feedback', 'mailto:{insert support email address}', {class: 'nav-link'})%></li>
</ul
