[Unit]
Description=GeoBlacklight
Requires=network.target

[Service]
Type=simple
User=geoblack
Group=geoblack
WorkingDirectory=/var/www/geoblacklight/geodisy
ExecStart=/bin/bash -lc 'bundle exec rails server -e {{ rails_env }} -b 0.0.0.0 --port 3000'
TimeoutSec=60s
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target

